.main {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  width: 100%;
}
.form__step {
  display: flex;
  gap: 2rem;
  margin-top: -30px;
  font-size: 19px;
  position: relative;
  width: 100%;
  
}
.logo__bellow {
  width: 50px;
  margin-top:67px;
  margin-bottom: 30px;
}
.form__step a {
  color: #232323;
 font-weight: 700;
 font-size: 20px;
}


.active {
  position: relative;
}
.active::before {
  content: '';
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 35px;
  left:20px ;
  width: 80%;
  opacity: .7;
  border-radius: 5px;
}
