
 .active {
    position: relative;
  }
  .active::before,.active2::before {
    content: '';
    height: 2px;
    background-color: #000000;
    position: absolute;
    top: 35px;
    left:20px ;
    width: 80%;
    opacity: .7;
    border-radius: 5px;
  }
  .active__status {
     font-size: 20px;
     margin-bottom: 50px;
     display: flex;
     align-items: center;
     gap: 3rem;
     color: #232323;
     font-weight: 700;
  
  }
.active__status a {
    text-decoration: none;
}

