.laptop__page__div {
  width: 100%;
}
.laptop__page__div form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 1571px;
  margin: auto;
  margin-top: 20px;
  padding: 68px 170px;
  padding-bottom: 100px;
  width: 80%;
  border-radius: 18px;
  background-color: #ffffff;
  position: relative;
}

.upload__image {
  height: 323px;
  border: 2px dashed #8ac0e2;
  outline: none;
  border-radius: 18px;
  background-color: #f6f6f6;
}
.devide__line {
  width: 100%;
  height: 1px;
  background-color: #c7c7c7;
  opacity: 0.7;
}
form .back__btn {
  position: absolute;
  left: 174px;
  color: #62a1eb;
  top: 1487px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.form__step a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.name__brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;

  width: 100%;
  gap: 2rem;
}
.name__brand div {
  width: 50%;
}

form label {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 17px;
}
form input {
  margin-top: 5px;
  outline: 1px solid #8ac0e2;
  padding: 10px;
  font-size: 16px;
}
form .name,
form .selection_2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form .selection_2 select,
.selection_3 select {
  background-color: #ebebeb;
  padding: 10px;
  font-weight: 900;
  line-height: 22px;
  font-size: 17px;
  width: 100%;
  appearance: none;
  outline: none;
}

form .select {
  position: relative;
}

.custom__arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 3rem;
  pointer-events: none;
}
.custom__arrow::before,
.custom__arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.custom__arrow::before {
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid black;
  opacity: 0.6;
}

.Cpu__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2;
}
.Cpu__info div {
  width: 30.33%;
}
.below__side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.below__side div {
  width: 50%;
}
.name input {
  width: 100%;
}
.radio {
  margin-left: 50px;
  margin-bottom: 20px;
}
.radio input {
  margin-left: 30px;
  width: 18px;
  height: 18px;
  margin-top: 18px;
  margin-right: 10px;
  outline: none;
}

.last__div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}
form .last__div .first_inputs {
  display: flex;
  align-items: center;
  width: 100%;
}
input p {
  font-size: 14px;
}
.radio__2 input {
  width: 18px;
  height: 18px;
  margin-top: 18px;
  margin-right: 10px;
  outline: none;
}
.radio__2 #second {
  margin-left: 40px;
}

form .save__btn {
  padding: 18px 10px;
  width: 176px;
  position: absolute;
  right: 160px;
  margin-top: 100px;
  bottom: 44px;
  border-radius: 8px;
  background-color: #62a1eb;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}
.price__date {
  display: flex;
  align-items: center;
  gap: 4rem;
}